/*Fonts*/
font-family: 'Open Sans', sans-serif;
font-family: Georgia, "Times New Roman", Times, serif;

/*Utility Class*/
.margin {
	margin-bottom: 10px;
}

.white {
	background: #fff;
}

.invisible {
	opacity: 0;
}

.space-image-top {
	padding-top: 16px;
}

/*Page Styling*/
.header {
	z-index: 100;
	width: 100%;
	height: 145px;
	top: 0px;
	position: fixed;
	background: #fff;
	
}
.header .fader {
	width: 100%;
	height: 75px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.content-container {
	position: relative;
	margin-top: 180px;
}

.border p {
	border-left: 1px dashed #3E2B19;
}

.image-right {
	padding-right: 10px;
}

.image-left {
	padding-left: 10px;
}

.social-image {
	display: relative;
	width: 110px;
	margin: 0 auto;
}

.social-image a {
	display: inline;
	width: 100%;
	height: 100%
	

}

/*Home Page*/
.logo {
	padding-left: 0px;
}

.logo img {
	margin-top: 10px;
	margin-left: 10px;
	height: 115px;
	width: 350px;
	max-width: 100%;
	max-height: 100%;
}
.logo a {
	display: inline-block;
	text-decoration: none;
}
/*.logo a:hover {
	display: none;
}*/

.home-pad {
	padding-top: 20px;
}


#home {
	margin-top: 178px;
}

p.zaarly {
	position: absolute;
	font-family:'Gilda Display', serif;
	font-size:8px;
	top: 195px;
	left:264px;
}

.zaarly a {
	color: #000;
}

/*Navigation*/
.main-nav {
	font-family: 'Gilda Display', serif;
	margin-top: 65px;
	text-align: right;
}

.main-nav ul {
	list-style: none;
	display: inline;

}
.main-nav ul li {
	font-size: 23px;
	letter-spacing: 3px;
	padding-right: 7px;
	padding-left: 30px;
	display: inline;
	text-align: center;
	cursor: pointer;
}
.main-nav ul li a {
	color: #A2825C;
	display: inline;
	cursor: pointer;
	
}
.main-nav ul li a:hover {
	cursor: pointer;
	color: #9CB28D;
}

.main-nav ul li a:hover img {
	cursor: pointer;
}
.sub-nav {
	font-family: 'Over the Rainbow', cursive;
	text-align: right;
	padding-top: 5px;
	margin-bottom: 0px;
}

.sub-nav ul {
	list-style: none;
	width: 460px;
	margin-left: 26px;
	margin-bottom: 0px;
}

.sub-nav ul li {
	font-size: 18px;
	letter-spacing: 1px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
	text-align: left;
	cursor: pointer;
	color: 

}

.sub-nav ul li a {
	color: #A2825C;
	display: inline;
	cursor: pointer;
	
}
.sub-nav ul li a:hover {
	cursor: pointer;
	color: #9CB28D;
}

#active a{
	cursor: pointer;
	color: #9CB28D;

	
}

ul li .active a {
	color: #683A20;
}

/*About Page*/

.about {
	font-size: 13px;
	letter-spacing: 1px;
}

.words {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #262626;
}

.strong {
	color:#9CB28D;
	font-family: 'Over the Rainbow', cursive;
	font-size: 20px;
}

.photo-align {
	margin-top: 9px;
}

p.materials {
	margin-top: 16px;
}

.materials-image {
	margin-top: 8px;
}


/*Press Page*/
.press-border li img {
	border: 1px solid #B8CABE; 
}

.top-grid {
	margin-right: 5px;
}

.img-wrap {
	height: 235px;
	width: 235px;
	position: relative;
}

.p-title {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: rgba(184, 202, 190, 1);
	-webkit-transition: visibility opacity 1s ease-in-out;
	-moz-transition: visibility opacity 1s ease-in-out;
	-o-transition: visibility opacity 1s ease-in-out;
	transition: visibility opacity 1s ease-in-out;

	visibility: hidden;
	opacity: 0;
}

.p-title p {
	font-size: 17px;
	text-align: center;
	font-family: 'Gilda Display', serif;
	color: #fff;
	line-height: 22px;
}

.p-title p.publication {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	letter-spacing: -1px;
	top: 23px;
	margin-bottom: 55px;
	margin-top: 10px;
}

.p-title p.go {
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 16px;
	letter-spacing: -1px;
	position: absolute;
	bottom: 23px;
	margin-bottom: 0px;
	
}

.go {
	width: 215px;
	height: 15px;
}

.img-wrap:hover .p-title {
visibility: visible;
  opacity: 1;
}

/*Collections*/

.shadow li img {
-moz-box-shadow: 0 0 3px 3px #CFCCCB;
-webkit-box-shadow: 0 0 3px 3px #CFCCCB;
box-shadow: 0 0 3px 3px #CFCCCB;
}

.collection {
	width: 1000px;
	margin: 0 auto;
	margin-top: 213px;
	cursor: pointer;
}

.collection * {
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

.collection .opaque {
	opacity: 0.3;
}

.collection-about {
	font-size: 25px;
	font-family:'Over the Rainbow', cursive;
	letter-spacing: 2px;
	border-top: 1px solid #9CB28D;
	margin-top: 12px;
	margin-bottom: 15px;
	padding-top: 8px;
	text-align: center;
	color: #9CB28D;
}

.collections-padding {
	padding: 100px;
}

p.description {
	font-family: 'Gilda Display', serif;
	font-size: 13px;
	letter-spacing: 1px;
	/*color: #A2825C;*/
	color: #262626;
}

.collections-margin{
	margin-right: 15px;
	margin-left: 15px;
}
/*Slider*/
#watercast-slider{
	margin-top: 175px;
	visibility: hidden;
	width: 100%;
	min-height: 100%;
	overflow: hidden;

  	/*background: #151515;*/
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}

#watercast-slider img {
	
}

.invisible {
	display: none;
	visibility: hidden;
}

/*Footer*/
.foot {
	padding-top: 15px;
	padding-bottom: 20px;
	/*width: 1000px;*/
	margin: 0 auto;
	width: 100%
}


.foot p {
	margin: 0px auto;
	font-family: 'Gilda Display', serif;
	letter-spacing: 3px;
	font-size: 15px;
	padding-left: 10px;
	text-align: center;



}

.foot a:hover {
	color: #7D8E71;
}

.foot a {
	color: #A2825C;
}


/* Clear Fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* About Page */
#about-page section {
	margin-bottom: 40px;
	overflow: hidden;
}

/*MOBILE STARTS HERE*/

@media screen and (max-width: 525px) {

	.header {
		z-index: 100;
		width: 100%;
		height: 90px;
		top: 0px;
		position: relative;
		/*background: #fff;*/	
	}
	.header .fader {
		width: 100%;
		height: 20px;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	.logo img {
		margin-top: 10px;
		margin-left: 10px;
		height: 54px;
		width: 150px;

	}

	/*Navigation*/
	.main-nav {
		font-family: 'Gilda Display', serif;
		margin-top: 20px;
		text-align: left;
	}

	.main-nav ul {
		list-style: none;
		display: inline;

	}
	.main-nav ul li {
		font-size: 13px;
		letter-spacing: 3px;
		padding-right: 3px;
		padding-left: 3px;
		display: inline;
		text-align: left;
		cursor: pointer;
	}
	.main-nav ul li a {
		color: #A2825C;
		display: inline;
		cursor: pointer;
		
	}
	.main-nav ul li a:hover {
		cursor: pointer;
		color: #9CB28D;
	}

	.main-nav ul li a:hover img {
		cursor: pointer;
	}
	.sub-nav {
		font-family: 'Over the Rainbow', cursive;
		text-align: left;
		padding-top: 5px;
		margin-bottom: 0px;
		margin-top: 20px;
	}

	.sub-nav ul {
		list-style: none;
		width: 460px;
		/*margin-left: 26px;*/
		margin-bottom: 0px;
	}

	.sub-nav ul li {
		font-size: 12px;
		letter-spacing: 1px;
		padding-right: 5px;
		padding-left: 5px;
		display: inline;
		text-align: center;
		cursor: pointer;
		color: 

	}

	.sub-nav ul li a {
		color: #A2825C;
		display: inline;
		cursor: pointer;
		
	}
	.sub-nav ul li a:hover {
		cursor: pointer;
		color: #9CB28D;
	}

	#active a{
		cursor: pointer;
		color: #9CB28D;

		
	}

	ul li .active a {
		color: #683A20;
	}

	#watercast-slider{
		margin-top: 25px;
		visibility: hidden;
		width: 100%;
		min-height: 100%;
		overflow: hidden;

	  	/*background: #151515;*/
	  -webkit-user-select: none;
	  -moz-user-select: none;  
	  user-select: none;
	}

	/*Footer*/

	.foot {
		padding-top: 10px;
		padding-bottom: 10px;
		/*width: 475px;*/
		width: 100%;
		margin: 0 auto;
	}

	.foot p {
		margin: 0px auto;
		font-family: 'Gilda Display', serif;
		letter-spacing: 3px;
		font-size: 11px;
		padding-left: 10px;
		text-align: center;
	}



	.social-image {
		display: relative;
		width: 110px;
		height: 32px;
		margin: 0 auto;
	}

	.social-image a {
		display: inline;
		width: 80%;
		height: 80%;
	}

	.social-image a img {
		width: 25px;
		height:25px;
	}

	/*Home Page*/

	#home {
		margin-top: 15px;
	}

	.content-container {
		position: relative;
		margin-top: 15px;
	}

	.image-right {
		padding-right: 5px;
	}

	.image-left {
		padding-left: 5px;
	}

	/*Press Page*/
	.top-grid {
		/*margin-right: 5px;*/
	}

	.img-wrap {
		height: 175px;
		width: 175px;
		position: relative;
		padding-left: 10px;

	}

	.p-title {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 10px;
		background: rgba(184, 202, 190, 1);
		-webkit-transition: visibility opacity 1s ease-in-out;
		-moz-transition: visibility opacity 1s ease-in-out;
		-o-transition: visibility opacity 1s ease-in-out;
		transition: visibility opacity 1s ease-in-out;

		visibility: hidden;
		opacity: 0;
	}

	.p-title p {
		font-size: 12px;
		text-align: center;
		font-family: 'Gilda Display', serif;
		color: #fff;
		line-height: 22px;
	}

	.p-title p.publication {
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size: 11px;
		letter-spacing: -1px;
		top: 23px;
		margin-bottom: 55px;
		margin-top: 10px;
		color: #fff;

	}

	.p-title p.go {
		font-family: Georgia, "Times New Roman", Times, serif; 
		font-size: 11px;
		letter-spacing: -1px;
		position: absolute;
		bottom: 23px;
		margin-bottom: 0px;
		visibility: hidden;
		
	}

	.go {
		width: 215px;
		height: 15px;
		visibility: hidden;
	}


	/*About Page*/

	.about {
		font-size: 10px;
		letter-spacing: 1px;
	}

	.words {
		font-family: Georgia, "Times New Roman", Times, serif;
		color: #262626;
	}

	.strong {
		color:#9CB28D;
		font-family: 'Over the Rainbow', cursive;
		font-size: 10px;
	}

	.photo-align {
		margin-top: 9px;
	}

	p.materials {
		margin-top: 16px;
	}

	.materials-image {
		margin-top: 8px;
	}
}


















