/*Fonts*/
font-family: 'Open Sans', sans-serif;
font-family: Georgia, "Times New Roman", Times, serif;

/*Overides*/
.margin {
	margin-bottom: 10px;
}

.about {
	font-size: 14px;
	letter-spacing: 1px;
}

.strong {
	font-weight: bold;
	color: #3E2B19;
}
/*Page Styling*/
.header {
	z-index: 100;
	top: 5px;
	left: 10px;
	width: 100%;
	position: fixed;
}

.content-container {
	position: relative;
	margin-top: 215px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.border p {
	border-left: 1px dashed #3E2B19;
}

.image-right {
	padding-right: 10px;
}

.image-left {
	padding-left: 10px;
}

/*Home Page*/
.logo {
	/*position: fixed;*/
	width: 550px;
	padding-left: 65px;
	margin-left: 70px;
}
.logo a {
	display: inline-block;
	text-decoration: none;
}
.logo a:hover {
	display: none;
}

.home-pad {
	padding-top: 20px;
}


.words {
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*navigation*/
.main-nav {
	font-family: "Courier New", Courier, monospace;
	width: 950px;
	margin-left: 590px;
}

.main-nav ul {
	list-style: none;
	/*position: fixed;*/
	display: inline;

}
.main-nav ul li {
	font-size: 20px;
	letter-spacing: 1px;
	padding-right: 20px;
	padding-left: 20px;
	display: inline;
	text-align: center;
	cursor: pointer;
}
.main-nav ul li a {
	color: #3E2B19;
	display: inline;
	cursor: pointer;
}

a:hover {
	border-bottom: 2px dashed #3E2B19;
	cursor: pointer;
} 
a.active {
	border-bottom: 2px dashed #3E2B19;
	cursor: pointer;
}

/*Footer*/
.foot {
	padding-top: 10px;
	padding-bottom: 20px;


}

.foot p {
	margin: 0px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	font-style: italic;
	padding-left: 10px;
	/*text-align:left;*/
}

.foot a:hover {
	border-bottom: none;
}

/* Clear Fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* About Page */
#about-page section {
	margin-bottom: 40px;
	overflow: hidden;
}






































