/******************************
*
*  RoyalSlider Universal Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-universal.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/* Background */
.rsUni,
.rsUni .rsOverflow,
.rsUni .rsSlide,
.rsUni .rsVideoFrameHolder,
.rsUni .rsThumbs {
	background: #FFF;
	color: #FFF;
}


/***************
*
*  1. Arrows
*
****************/

.rsUni .rsArrow {
	height: 100%;
	width: 60px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsUni.rsVer .rsArrow {
	width: 100%;
	height: 60px;
	
}
.rsUni.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsUni.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsUni.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsUni.rsHor .rsArrowRight { right: 0; top:0; }

.rsUni .rsArrowIcn {		
	width: 32px;
	height: 32px;
	top: 50%;
	left: 50%;
	margin-top:-16px;	
	margin-left: -16px;

	position: absolute;	
	cursor: pointer;	
	background: url('rs-universal.png');
	opacity: 0.5;
	border-radius: 2px;
}
.rsUni .rsArrow:hover .rsArrowIcn {
	opacity: 1;
}

.rsUni.rsHor .rsArrowLeft .rsArrowIcn { background-position: -64px -32px; }
.rsUni.rsHor .rsArrowRight .rsArrowIcn { background-position: -64px -64px; }

.rsUni.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsUni.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsUni .rsArrowDisabled .rsArrowIcn { opacity: .1 !important; filter: alpha(opacity=20);  *display: none; }



/***************
*
*  3. Thumbnails
*
****************/

.rsUni .rsThumbsHor {
	width: 100%;
	height: 72px;
}
.rsUni .rsThumbsVer {
	width: 96px;
	height: 100%;
	position: absolute;
	top: 0;
	right: auto;
	left: 0
}
.rsUni.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsUni.rsWithThumbsVer .rsThumbsContainer {
	position: relative;
	width: 100%;
}
.rsUni .rsThumb {
	float: left;
	overflow: hidden;
	width: 96px;
	height: 72px;
}
.rsUni .rsThumb img {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=30);
	-webkit-backface-visibility: hidden;
}
.rsUni .rsThumb.rsNavSelected {
	background: #FFF;
}
.rsUni .rsThumb.rsNavSelected img {
	opacity: 1;
	filter: alpha(opacity=30);
	-webkit-backface-visibility: hidden;
	width: 100%;
	height: 100%;
}
.rsUni .rsThumb.rsNavSelected .thumbIco {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	-webkit-backface-visibility: hidden;
} 

.rsUni .rsTmb {
	display: block;
}

/* Thumbnails with text */
.rsUni .rsTmb h5 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: 20px;
	color: #FFF;
}
.rsUni .rsTmb span {
	color: #DDD;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 18px;
}



/* Thumbnails arrow icons */
.rsUni .rsThumbsArrow {
	height: 100%;
	width: 20px;
	position: absolute;
	display: block;
	cursor: pointer;	
	z-index: 21;	
}
.rsUni .rsThumbsArrow:hover {

}
.rsUni.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 20px;

}
.rsUni.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsUni.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; background-color: #fff; }

.rsUni.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsUni.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsUni .rsThumbsArrowIcn {		
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top:-8px;	
	margin-left: -8px;
	position: absolute;	
	cursor: pointer;	
	background: url('rs-default-inverted.png') transparent;
}

.rsUni.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -35px; }
.rsUni.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsUni.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -34px; }
.rsUni.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsUni .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
	.rsUni .rsThumb {
		width: 59px;
		height: 44px;
	}
	.rsUni .rsThumbsHor {
		height: 44px;
	}
	.rsUni .rsThumbsVer {
		width: 59px;
	}
}


/***************
*
*  5. Fullscreen button
*
****************/

.rsUni .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;
	
}
.rsUni .rsFullscreenIcn {
	display: block;
	margin: 6px;
	width: 32px;
	height: 32px;

	background: url('rs-default-inverted.png') 0 0 transparent;
	opacity: 0.7;
	border-radius: 2px;

}
.rsUni .rsFullscreenBtn:hover .rsFullscreenIcn {
	opacity: 1;
}
.rsUni.rsFullscreen .rsFullscreenIcn {
	background-position: -32px 0;
}



/***************
*
*  7. Preloader
*
****************/

.rsUni .rsPreloader {
	width:20px;
	height:20px;
	background-image:url(../preloaders/preloader-white.gif);

	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}




/***************
*
*  8. Global caption
*
****************/
.rsUni .rsGCaption {
	position: absolute;
	float: none;
	bottom: 0px;
	left: 0;
	text-align: center;
	margin: 0 auto;

	background: transparent;

	color: #A2825C;
	padding: 2px 8px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
	border-radius: 2px;
	-webkit-backface-visibility: hidden;
}

@media screen and (max-width: 700px) {
		.rsUni .rsGCaption {
			position: absolute;
			float: none;
			bottom: 0px;
			left:0;
			text-align: center;

			background: transparent;

			color: #A2825C;
			padding: 5px;
			font-size: 8px;
			font-family: Georgia, "Times New Roman", Times, serif;
			letter-spacing: 2px;
			border-radius: 2px;
			-webkit-backface-visibility: hidden;
		}
	}

