

.header {
	position: fixed;
	top: 5px;
	left: 10px;
}

.main-nav {
	font-family: 'Dawning of a New Day', cursive;
	color: #777;
}

.main-nav ul {
	list-style: none;
	margin-left: 30px;
}
.main-nav ul li {
	margin-bottom: 7px;
	font-size: 40px;
}
.main-nav ul li a {
	color: #777;
}








































